@charset "UTF-8";
body {
  font-family: '小塚ゴシック Pr 6N',sans-serif;
  color: black;
}

.container {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

.header {
  box-shadow: 0 1px 4px gray;
  position: relative;
}

.header .container {
  display: flex;
}

.header-logo {
  display: flex;
}

.header-logo h1 {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 21px;
}

.header-logo p {
  font-size: 13px;
  line-height: calc(20/13);
  letter-spacing: 0.05em;
  font-weight: 400;
  margin-top: 34px;
  margin-bottom: 34px;
}

.header-btn {
  display: flex;
  margin-left: auto;
}

.header-tel-number {
  display: flex;
  margin-top: 28px;
}

.header-tel-number + p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.05em;
  text-align: center;
}

.header-tel-number p {
  font-size: 26px;
  line-height: 1;
  letter-spacing: 0;
  font-weight: 600;
  font-family: 'HiraginoUDSansFStd';
  margin-left: 6px;
  margin-bottom: 7px;
}

.header-pdf {
  display: block;
  margin-left: 19px;
  margin-top: 21px;
  max-width: 156px;
  transition: .2s;
  height: 60px;
}

.header-pdf:hover {
  opacity: 0.8;
  transition: .2s;
}

.header-contact {
  display: block;
  margin-left: 11px;
  margin-top: 21px;
  max-width: 174px;
  height: 60px;
}

.main-visual {
  background-image: url("../img/fv_bgimg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.fv-img {
  display: flex;
}

.sub-text-items {
  display: flex;
}

.fv-main-text {
  margin-top: 25px;
  margin-bottom: 39px;
}

.convid {
  margin-top: 50px;
  margin-right: 30px;
}

.sub-text-item {
  display: block;
  border: 3px solid #1b8016;
  font-size: 21px;
  letter-spacing: 0.04em;
  font-weight: 700;
  max-width: calc(33.3%-10px/3);
  padding-bottom: 5px;
  padding-top: 7px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
}

.sub-text-item:nth-child(n+2) {
  margin-left: 5px;
}

.sub-text-items {
  margin-top: 24px;
}

.sub-text {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.04em;
  padding-top: 6px;
  padding-bottom: 5px;
  padding-left: 65px;
  padding-right: 65px;
  background-color: #ffffff;
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 17px;
}

.sub-text-cover {
  text-align: center;
}

.slider .container {
  text-align: center;
}

.slider-title {
  padding-top: 44px;
  padding-bottom: 35px;
}

.slider {
  background: linear-gradient(#1b8016, #8fb942);
}

.swiper-inner {
  position: relative;
}

.swiper-button-next {
  position: absolute;
  background: transparent url(../img/info_slider_right.png) no-repeat center center/contain;
  right: 35px !important;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  position: absolute;
  background: transparent url(../img/info_slider_left.png) no-repeat center center/contain;
  left: 40px !important;
}

.swiper-button-prev::after {
  display: none;
}

.slider-item {
  width: 162px !important;
  margin-left: 3.5px;
  margin-right: 3.5px;
}

.swiper {
  width: 841px !important;
}

.swiper-pagination {
  position: absolute;
  bottom: -31px !important;
}

.swiper-pagination-bullet {
  background-color: #13510b;
  width: 12px !important;
  height: 12px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #3ee02b;
}

.slider-text {
  margin-top: 60px;
  margin-bottom: 19px;
}

.pdf {
  margin-top: 43px;
  margin-bottom: 44px;
  display: block;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  transition: .2s;
}

.pdf:hover {
  transition: .2s;
  opacity: 0.8;
}

.tel-number {
  display: flex;
  justify-content: center;
}

.tel-number p {
  margin-top: 5px;
  font-size: 54px;
  font-weight: 600;
  letter-spacing: 0;
  color: #fff;
  margin-left: 15px;
}

.foot-text {
  margin-top: 22px;
  padding-bottom: 58px;
  font-size: 23px;
  letter-spacing: 0.05em;
  color: #fff;
  font-weight: 400;
}
/*# sourceMappingURL=style.css.map */
