.header{
    .container{
        display: flex;
    }
    box-shadow: 0 1px 4px gray;
    position: relative;
}

.header-logo{
    display: flex;
    h1{
        display: block;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-right: 21px;
    }
    p{
        font-size: 13px;
        line-height: calc(20/13);
        letter-spacing: 0.05em;
        font-weight: 400;
        margin-top: 34px;
        margin-bottom: 34px;
    }
}

.header-btn{
    display: flex;
    margin-left: auto;
}

.header-tel-number{
    display: flex;
    margin-top: 28px;
    &+p{
        font-size: 15px;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 0.05em;
        text-align: center;
    }
    p{
        font-size: 26px;
        line-height: 1;
        letter-spacing: 0;
        font-weight: 600;
        font-family: 'HiraginoUDSansFStd';
        margin-left: 6px;
        margin-bottom: 7px;
    }
}

.header-pdf{
    display: block;
    margin-left: 19px;
    margin-top: 21px;
    max-width: 156px;
    transition: .2s;
    height: 60px;
    &:hover{
        opacity: 0.8;
        transition: .2s;
    }
}

.header-contact{
    display: block;
    margin-left: 11px;
    margin-top: 21px;
    max-width: 174px;
    height: 60px;
}