.slider{
    .container{
        text-align: center;
    }
}


.slider-title{
    padding-top: 44px;
    padding-bottom: 35px;
}



.slider{
    background: linear-gradient(#1b8016, #8fb942);
}

.swiper-inner{
    position: relative;
}

.swiper-button-next{
    position: absolute;
    background: transparent url(../img/info_slider_right.png) no-repeat center center / contain;
    right: 35px !important;
    &::after{
        display: none;
    }
}

.swiper-button-prev{
    position: absolute;
    background: transparent url(../img/info_slider_left.png) no-repeat center center / contain;
    left: 40px !important;
    &::after{
        display: none;
    }
}

.slider-item{
    width: 162px !important;
    margin-left: 3.5px;
    margin-right: 3.5px;
}

.swiper{
    width: 841px !important;
}

.swiper-pagination{
    position: absolute;
    bottom: -31px !important;
}

.swiper-pagination-bullet{
    background-color: #13510b;
    width: 12px !important;
    height: 12px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    &.swiper-pagination-bullet-active{
        background-color: #3ee02b;
    }
}

.slider-text{
    margin-top: 60px;
    margin-bottom: 19px;
}

.pdf{
    margin-top: 43px;
    margin-bottom: 44px;
    display: block;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    transition: .2s;
    &:hover{
        transition: .2s;
        opacity: 0.8;
    }
}

.tel-number{
    display: flex;
    justify-content: center;
    p{
        margin-top: 5px;
        font-size: 54px;
        font-weight: 600;
        letter-spacing: 0;
        color: #fff;
        margin-left: 15px;
    }
}

.foot-text{
    margin-top: 22px;
    padding-bottom: 58px;
    font-size: 23px;
    letter-spacing: 0.05em;
    color: #fff;
    font-weight: 400;
}